@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body{
  font-family: var(--font-inter-sans);
  background-color: #F2EEEB;
  margin: 0;
  box-sizing: border-box;
}

.title-hero-section{
  font-family: var(--font-allura-sans);
  font-weight: bold;
  font-size: 62px;
}

.res-btn{
  width: 200px;
  border: 1px solid black;
  padding: 16px 22px;
  background-color: black;
}

.res-btn:hover{
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.25s ease-out;
}

.banner{
  background-image: url(../assets/banners/hotel-banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
 border-radius: 24px;
}

.banner h1{
   font-family:var(--font-allura-sans) ;
   color: #F2EEEB;
   font-weight: bold;
   font-size: 6rem;
}

.no-arrows .swiper-button-prev,
.no-arrows .swiper-button-next {
  display: none !important;
}

.swiper-pagination-bullet {
  background-color: #CCCCCC !important; /* Color of non-active dots */
}

.swiper-pagination-bullet-active {
  background-color: #333333 !important ; /* Color of the active dot */
}


.fontAllura{
  font-family: var(--font-allura-sans);
}

.desert-banner{
   background-image: url(../assets/banners/banner-desert.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
  border-radius: 24px;
}