@import "tailwindcss";

body{
  font-family: var(--font-inter-sans);
  background-color: #F2EEEB;
  margin: 0;
  box-sizing: border-box;
}

.title-hero-section{
  font-family: var(--font-allura-sans);
  font-weight: bold;
  font-size: 52px;
}

.res-btn{
  width: 200px;
  border: 1px solid black;
  padding: 16px 22px;
  background-color: black;
}

.res-btn:hover{
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.25s ease-out;
}